:root{

  --primary: #f4f2c7;
  --secondary: #221b04;
}




.new{
  /* border: 2px solid black; */
  
  font-family: "cinzel";
  color: var(--secondary);
}



.new{
  position: relative;

}

.new::after{
  border: 1px solid var(--secondary);
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: var(--secondary);
  transform: scaleX(0); 
  transition: all 0.2s; 
}

.new:hover::after{
  transform: scaleX(0.9);
}

.active{
  font-weight: 600;
}

/* .bo{
  border: 2px solid black;
} */

button{
  border-radius: 9999px 9999px 0px 9999px;
}

@keyframes rev {

from{
    scale: 0.9;
  }
 to{
  scale: 1;
 } 
  
}

button:active{
  animation-name: rev;
  animation-duration: 100ms;
  animation-timing-function: ease-in;
  animation-iteration-count: 1;
}


@keyframes movement {

  0%{
    transform: translateY(0px);

  }
 50%{
  transform: translateY(100px);
 
  
 }
 80%{
  transform: translateY(-100px);
 } 
 100%{
  transform: translateY(0px);
 } 
  
  

  
}


.cbg{
  animation-name: movement;
  animation-duration: 50s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}